{
  "openapi": "3.0.3",
  "info": {
    "title": "0xArchive API",
    "description": "REST API for current and historical market data from Hyperliquid and Lighter. Hyperliquid coverage includes core perpetuals, Spot, HIP-3 builder perpetuals, and HIP-4 outcome markets. Coverage and access requirements vary by route. See https://docs.0xarchive.io/ for authentication, limits, and examples.",
    "version": "1.6.1",
    "termsOfService": "https://0xarchive.io/terms",
    "contact": {
      "name": "0xArchive Support",
      "url": "https://0xarchive.io",
      "email": "support@0xarchive.io"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://0xarchive.io/terms"
    }
  },
  "externalDocs": {
    "description": "0xArchive Developer Docs",
    "url": "https://docs.0xarchive.io/"
  },
  "x-0xarchive-docs-language-overlay": {
    "name": "data-quality-supported-venue-language",
    "reason": "Public OpenAPI language must describe supported venue-family coverage instead of broad exchange coverage.",
    "updated_at": "2026-05-24",
    "remove_when": "Public source OpenAPI uses supported venue-family wording for data-quality coverage and latency descriptions."
  },
  "servers": [
    {
      "url": "https://api.0xarchive.io",
      "description": "Production API"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "System",
      "description": "Health checks and system status"
    },
    {
      "name": "Hyperliquid - Instruments",
      "description": "Hyperliquid available trading instruments and their specifications. Authenticated inventory contains 232 core perpetual rows."
    },
    {
      "name": "Hyperliquid - Order Book",
      "description": "Hyperliquid venue-native L2 order book snapshots. Native Hyperliquid source snapshots are capped at 20 levels per side; use the full-depth L2 routes for full-depth aggregated L2."
    },
    {
      "name": "Hyperliquid - Full-Depth L2 Order Book",
      "description": "Full-depth aggregated L2 order book snapshots, checkpoint history, and diffs for Hyperliquid perpetuals derived from L4 data. Full-depth checkpoints and diffs where available."
    },
    {
      "name": "Hyperliquid - Trades",
      "description": "Hyperliquid historical trade/fill data with full execution details. Data from April 2023."
    },
    {
      "name": "Hyperliquid - Candles",
      "description": "Hyperliquid OHLCV candle data. Intervals: 1m, 5m, 15m, 30m, 1h, 4h, 1d, 1w."
    },
    {
      "name": "Hyperliquid - Open Interest",
      "description": "Hyperliquid historical open interest and market context data. Data from May 2023."
    },
    {
      "name": "Hyperliquid - Funding",
      "description": "Hyperliquid funding rate history. Data from May 2023."
    },
    {
      "name": "Hyperliquid - Liquidations",
      "description": "Hyperliquid liquidation events with user attribution. The observed global floor is July 27, 2025; exact starts vary by symbol."
    },
    {
      "name": "Hyperliquid - L4 Order Book",
      "description": "Individual resting-order (L4) book state for Hyperliquid perpetuals, including price, size, order ID, wallet attribution, queue priority, diffs, and checkpoints."
    },
    {
      "name": "Hyperliquid - Orders",
      "description": "Order lifecycle events for Hyperliquid perpetuals: placements, cancellations, fills, and TP/SL triggers."
    },
    {
      "name": "Hyperliquid - Convenience",
      "description": "Hyperliquid convenience endpoints: freshness, summary, and price history."
    },
    {
      "name": "HIP-3 Builder Perps - Instruments",
      "description": "HIP-3 Builder Perps instrument discovery. Use this route with `/v1/symbols` `coverage_by_type` to resolve the current inventory and schema-specific dates."
    },
    {
      "name": "HIP-3 Builder Perps - Order Book",
      "description": "HIP-3 Builder Perps venue-native L2 order book snapshots. Native Hyperliquid source snapshots are capped at 20 levels per side; use the full-depth L2 routes for full-depth aggregated L2."
    },
    {
      "name": "HIP-3 Builder Perps - Full-Depth L2 Order Book",
      "description": "Full-depth aggregated L2 order book snapshots, checkpoint history, and diffs for HIP-3 builder perps derived from L4 data. Full-depth checkpoints and diffs where available."
    },
    {
      "name": "HIP-3 Builder Perps - Trades",
      "description": "HIP-3 Builder Perps historical trade/fill data. Coverage is symbol-specific; inspect `/v1/symbols` `coverage_by_type.trades` before choosing a time range."
    },
    {
      "name": "HIP-3 Builder Perps - Candles",
      "description": "HIP-3 Builder Perps OHLCV candle data. Intervals: 1m, 5m, 15m, 30m, 1h, 4h, 1d, 1w. Coverage is symbol-specific; verify the selected market before choosing a time range."
    },
    {
      "name": "HIP-3 Builder Perps - Open Interest",
      "description": "HIP-3 Builder Perps historical open interest data. Coverage is symbol-specific; inspect `/v1/symbols` `coverage_by_type.oi` before choosing a time range."
    },
    {
      "name": "HIP-3 Builder Perps - Funding",
      "description": "HIP-3 Builder Perps funding rate history. Coverage is symbol-specific; inspect `/v1/symbols` `coverage_by_type.funding` before choosing a time range."
    },
    {
      "name": "HIP-3 Builder Perps - Liquidations",
      "description": "HIP-3 Builder Perps liquidation-related fills. Coverage is symbol-specific; verify the selected market before choosing a time range."
    },
    {
      "name": "HIP-3 Builder Perps - L4 Order Book",
      "description": "Individual order-level (L4) orderbook data for HIP-3 builder perps."
    },
    {
      "name": "HIP-3 Builder Perps - Orders",
      "description": "Order lifecycle events for HIP-3 builder perps."
    },
    {
      "name": "HIP-3 Builder Perps - Convenience",
      "description": "HIP-3 convenience endpoints: freshness, summary, and price history."
    },
    {
      "name": "HIP-3 Builder Perps - Breadth",
      "description": "HIP-3 market breadth snapshots: percentage of eligible instruments trading above their current UTC-session VWAP."
    },
    {
      "name": "HIP-4 Outcomes - Outcomes",
      "description": "HIP-4 outcome market discovery (one row per outcome, both sides combined). Use these to enumerate live and settled binary outcome markets. Data from May 2026."
    },
    {
      "name": "HIP-4 Outcomes - Instruments",
      "description": "HIP-4 per-side instrument discovery (one row per `#N` coin). Each outcome has two sides: side 0 (Yes) and side 1 (No). Coins are `#`-prefixed. Data from May 2026."
    },
    {
      "name": "HIP-4 Outcomes - Order Book",
      "description": "HIP-4 outcome markets L2 and L4 order book snapshots and diffs. Coins are referenced by numeric id (0, 1, 10, 11, ...); the `#`-prefixed form is also accepted. Data from May 2026."
    },
    {
      "name": "HIP-4 Outcomes - Trades",
      "description": "HIP-4 outcome markets historical trade/fill data. Data from May 2026."
    },
    {
      "name": "HIP-4 Outcomes - Open Interest",
      "description": "HIP-4 outcome markets per-side open interest history. Display/paired/parity aggregates live on the `/outcomes/{outcome_id}` detail endpoint, not here. Data from May 2026."
    },
    {
      "name": "HIP-4 Outcomes - Orders",
      "description": "Order lifecycle events for HIP-4 outcome markets: placements, cancellations, fills, and TP/SL triggers."
    },
    {
      "name": "HIP-4 Outcomes - Convenience",
      "description": "HIP-4 convenience endpoints: freshness, summary, and price history. `mark_price` for HIP-4 is an implied probability in [0,1], not a USD price."
    },
    {
      "name": "Lighter - Instruments",
      "description": "Lighter available trading instruments and their specifications."
    },
    {
      "name": "Lighter - Order Book",
      "description": "Lighter L2 order book snapshots with configurable granularity. Checkpoint history starts January 29, 2026; 30s/10s/1s start January 30, 2026; tick reconstruction available."
    },
    {
      "name": "Lighter - Trades",
      "description": "Lighter historical fill data across more than 200 markets. Served history begins August 27, 2025, with exact starts varying by market."
    },
    {
      "name": "Lighter - Candles",
      "description": "Lighter OHLCV candle data. Intervals: 1m, 5m, 15m, 30m, 1h, 4h, 1d, 1w. Data from August 2025."
    },
    {
      "name": "Lighter - Open Interest",
      "description": "Lighter historical open interest data. Data from August 2025."
    },
    {
      "name": "Lighter - Funding",
      "description": "Lighter funding rate history. Data from August 2025."
    },
    {
      "name": "Lighter - L3 Order Book",
      "description": "Individual order-level (L3) orderbook data for Lighter. Data from March 2026."
    },
    {
      "name": "Lighter - Convenience",
      "description": "Lighter convenience endpoints: freshness, summary, and price history."
    },
    {
      "name": "Data Quality",
      "description": "Data quality monitoring: system status, coverage, incidents, latency, and SLA metrics."
    },
    {
      "name": "Web3 Authentication",
      "description": "SIWE authentication for existing wallet accounts and autonomous paid wallet access via x402. Standard Free accounts are created through the browser signup flow."
    },
    {
      "name": "Legacy",
      "description": "Deprecated endpoints that default to Hyperliquid. Use the exchange-specific endpoints (`/v1/hyperliquid/*`, `/v1/lighter/*`, `/v1/hyperliquid/hip3/*`) instead."
    },
    {
      "name": "Hyperliquid Spot",
      "description": "Hyperliquid Spot pair, order book, trade, reconstruction, TWAP, and freshness routes."
    },
    {
      "name": "Hyperliquid Spot - Candles",
      "description": "OHLCV candles for spot pairs (1m base, rolled up on demand)."
    },
    {
      "name": "HIP-4 Outcomes - Candles",
      "description": "OHLCV candles for HIP-4 outcome sides. Prices are implied probabilities (0..1); quote_volume in USDH."
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Health check",
        "description": "Check API health status. No authentication required.",
        "operationId": "healthCheck",
        "security": [],
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/orderbook/{symbol}": {
      "get": {
        "tags": [
          "Legacy"
        ],
        "summary": "Get order book (Deprecated)",
        "description": "**Deprecated:** Use `/v1/hyperliquid/orderbook/{symbol}` for the native 20-level Hyperliquid snapshot or `/v1/hyperliquid/orderbook/{symbol}/l2` for full-depth aggregated L2. Use `/v1/lighter/orderbook/{symbol}` for Lighter.\n\nGet the latest deprecated compatibility order book snapshot for a coin, or at a specific timestamp. This Hyperliquid compatibility route is capped at the native 20 price levels per side.",
        "operationId": "getOrderbook",
        "deprecated": true,
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "description": "Trading pair symbol (e.g., BTC, ETH, SOL)",
            "schema": {
              "type": "string",
              "example": "BTC"
            },
            "example": "BTC"
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "Unix timestamp in milliseconds. If not provided, returns latest snapshot.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1704067200000
            }
          },
          {
            "name": "depth",
            "in": "query",
            "description": "Requested price levels per side for this deprecated Hyperliquid compatibility route. Native Hyperliquid L2 data is capped at 20 levels per side; values above 20 do not return full depth here. Use /v1/hyperliquid/orderbook/{symbol}/l2 for full-depth aggregated L2.",
            "schema": {
              "type": "integer",
              "example": 20,
              "maximum": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order book snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOrderBook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/orderbook/{symbol}/history": {
      "get": {
        "tags": [
          "Legacy"
        ],
        "summary": "Get order book history (Deprecated)",
        "description": "**Deprecated:** Use `/v1/hyperliquid/orderbook/{symbol}/history` for native 20-level Hyperliquid history or `/v1/hyperliquid/orderbook/{symbol}/l2/history` for full-depth L2 checkpoint history. Use `/v1/lighter/orderbook/{symbol}/history` for Lighter.\n\nGet historical deprecated compatibility order book snapshots within a time range. Historical windows use `start` and `end` Unix-millisecond query parameters. This Hyperliquid compatibility route is capped at 20 levels per side.",
        "operationId": "getOrderbookHistory",
        "deprecated": true,
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "BTC"
            },
            "description": "Trading pair symbol (e.g., BTC, ETH, SOL)",
            "example": "BTC"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp in Unix milliseconds. Defaults to 24h ago.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp in Unix milliseconds. Defaults to now.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination (timestamp from previous response's `next_cursor`). If not provided, starts from the beginning of the range.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default: 100, max: 1000)",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "depth",
            "in": "query",
            "description": "Requested price levels per side for this deprecated Hyperliquid compatibility route. Native Hyperliquid L2 data is capped at 20 levels per side; values above 20 do not return full depth here. Use /v1/hyperliquid/orderbook/{symbol}/l2 for full-depth aggregated L2.",
            "schema": {
              "type": "integer",
              "maximum": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of order book snapshots",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOrderBookArray"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/trades/{symbol}": {
      "get": {
        "tags": [
          "Legacy"
        ],
        "summary": "Get trades (Deprecated)",
        "description": "**Deprecated:** Use `/v1/hyperliquid/trades/{symbol}` or `/v1/lighter/trades/{symbol}` instead.\n\nGet historical trades (fills) for a coin within a time range. Includes full execution details like fees, PnL, and position direction.\n\n**Pagination:** Use the `cursor` parameter with the timestamp from the previous response's `next_cursor` for efficient pagination through large datasets.",
        "operationId": "getTrades",
        "deprecated": true,
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "BTC"
            },
            "description": "Trading pair symbol (e.g., BTC, ETH, SOL)",
            "example": "BTC"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp in Unix milliseconds. Defaults to 24h ago.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp in Unix milliseconds. Defaults to now.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "**Recommended.** Cursor for pagination (use the value from previous response's `next_cursor`). The cursor is an opaque string that should be passed as-is.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default: 100, max: 1000)",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of trades with cursor for next page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseTradeArray"
                },
                "example": {
                  "success": true,
                  "data": [],
                  "meta": {
                    "count": 100,
                    "next_cursor": "1704067200123_456789",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/trades/{symbol}/cursor": {
      "get": {
        "tags": [
          "Legacy"
        ],
        "summary": "Get trades with cursor pagination (Deprecated)",
        "description": "**Deprecated:** Use `/v1/hyperliquid/trades/{symbol}` or `/v1/lighter/trades/{symbol}` instead.\n\nGet historical trades using cursor-based pagination. This is the same as `/v1/trades/{symbol}` with cursor pagination (which is now the default). This endpoint is maintained for backwards compatibility and explicit cursor-only usage.",
        "operationId": "getTradesCursor",
        "deprecated": true,
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "BTC"
            },
            "description": "Trading pair symbol (e.g., BTC, ETH, SOL)",
            "example": "BTC"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp in Unix milliseconds. Defaults to 24h ago.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp in Unix milliseconds. Defaults to now.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination (use the value from previous response's `next_cursor`). The cursor is an opaque string that should be passed as-is.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default: 100, max: 1000)",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of trades with cursor for next page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseTradeArray"
                },
                "example": {
                  "success": true,
                  "data": [],
                  "meta": {
                    "count": 100,
                    "next_cursor": "1704067200123_456789",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/instruments": {
      "get": {
        "tags": [
          "Legacy"
        ],
        "summary": "List instruments (Deprecated)",
        "description": "**Deprecated:** Use `/v1/hyperliquid/instruments` or `/v1/lighter/instruments` instead.\n\nGet all available trading instruments with their specifications.",
        "operationId": "listInstruments",
        "deprecated": true,
        "responses": {
          "200": {
            "description": "List of instruments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseInstrumentArray"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/instruments/{symbol}": {
      "get": {
        "tags": [
          "Legacy"
        ],
        "summary": "Get instrument (Deprecated)",
        "description": "**Deprecated:** Use `/v1/hyperliquid/instruments/{symbol}` or `/v1/lighter/instruments/{symbol}` instead.\n\nGet details for a specific trading instrument.",
        "operationId": "getInstrument",
        "deprecated": true,
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "BTC"
            },
            "description": "Trading pair symbol (e.g., BTC, ETH, SOL)",
            "example": "BTC"
          }
        ],
        "responses": {
          "200": {
            "description": "Instrument details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseInstrument"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/openinterest/{symbol}": {
      "get": {
        "tags": [
          "Legacy"
        ],
        "summary": "Get open interest history (Deprecated)",
        "description": "**Deprecated:** Use `/v1/hyperliquid/openinterest/{symbol}` or `/v1/lighter/openinterest/{symbol}` instead.\n\nGet historical open interest data with associated market context (mark price, oracle price, volume, etc.).",
        "operationId": "getOpenInterest",
        "deprecated": true,
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "BTC"
            },
            "description": "Trading pair symbol (e.g., BTC, ETH, SOL)",
            "example": "BTC"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp in Unix milliseconds. Defaults to 24h ago.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp in Unix milliseconds. Defaults to now.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination (timestamp from previous response's `next_cursor`). If not provided, starts from the beginning of the range.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default: 100, max: 1000)",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Open interest data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOpenInterestArray"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/openinterest/{symbol}/current": {
      "get": {
        "tags": [
          "Legacy"
        ],
        "summary": "Get current open interest (Deprecated)",
        "description": "**Deprecated:** Use `/v1/hyperliquid/openinterest/{symbol}/current` or `/v1/lighter/openinterest/{symbol}/current` instead.\n\nGet the latest open interest value and market context.",
        "operationId": "getCurrentOpenInterest",
        "deprecated": true,
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "BTC"
            },
            "description": "Trading pair symbol (e.g., BTC, ETH, SOL)",
            "example": "BTC"
          }
        ],
        "responses": {
          "200": {
            "description": "Current open interest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOpenInterest"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/funding/{symbol}": {
      "get": {
        "tags": [
          "Legacy"
        ],
        "summary": "Get funding rate history (Deprecated)",
        "description": "**Deprecated:** Use `/v1/hyperliquid/funding/{symbol}` or `/v1/lighter/funding/{symbol}` instead.\n\nGet historical funding rates. Funding is settled every 8 hours on Hyperliquid.",
        "operationId": "getFundingHistory",
        "deprecated": true,
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "BTC"
            },
            "description": "Trading pair symbol (e.g., BTC, ETH, SOL)",
            "example": "BTC"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp in Unix milliseconds. Defaults to 24h ago.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp in Unix milliseconds. Defaults to now.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination (timestamp from previous response's `next_cursor`). If not provided, starts from the beginning of the range.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default: 100, max: 1000)",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Funding rate history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseFundingRateArray"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/funding/{symbol}/current": {
      "get": {
        "tags": [
          "Legacy"
        ],
        "summary": "Get current funding rate (Deprecated)",
        "description": "**Deprecated:** Use `/v1/hyperliquid/funding/{symbol}/current` or `/v1/lighter/funding/{symbol}/current` instead.\n\nGet the latest funding rate for a coin.",
        "operationId": "getCurrentFunding",
        "deprecated": true,
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "BTC"
            },
            "description": "Trading pair symbol (e.g., BTC, ETH, SOL)",
            "example": "BTC"
          }
        ],
        "responses": {
          "200": {
            "description": "Current funding rate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseFundingRate"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/hyperliquid/instruments": {
      "get": {
        "tags": [
          "Hyperliquid - Instruments"
        ],
        "summary": "List Hyperliquid instruments",
        "description": "Get all available Hyperliquid trading instruments with their specifications.",
        "operationId": "listHyperliquidInstruments",
        "responses": {
          "200": {
            "description": "List of instruments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseInstrumentArray"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/hyperliquid/instruments/{symbol}": {
      "get": {
        "tags": [
          "Hyperliquid - Instruments"
        ],
        "summary": "Get Hyperliquid instrument",
        "description": "Get details for a specific Hyperliquid trading instrument.",
        "operationId": "getHyperliquidInstrument",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "BTC"
            },
            "description": "Trading pair symbol (e.g., BTC, ETH, SOL)",
            "example": "BTC"
          }
        ],
        "responses": {
          "200": {
            "description": "Instrument details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseInstrument"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/hyperliquid/orderbook/{symbol}": {
      "get": {
        "tags": [
          "Hyperliquid - Order Book"
        ],
        "summary": "Get Hyperliquid native L2 order book (20 levels)",
        "description": "Get the latest venue-native Hyperliquid L2 order book snapshot, or a snapshot at a specific timestamp. This native route is capped at the 20 price levels per side provided by Hyperliquid source snapshots. Use `/v1/hyperliquid/orderbook/{symbol}/l2` for full-depth aggregated L2 derived from L4.",
        "operationId": "getHyperliquidOrderbook",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "description": "Trading pair symbol (e.g., BTC, ETH, SOL)",
            "schema": {
              "type": "string",
              "example": "BTC"
            },
            "example": "BTC"
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "Unix timestamp in milliseconds. If not provided, returns latest snapshot.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1704067200000
            }
          },
          {
            "name": "depth",
            "in": "query",
            "description": "Requested price levels per side for this native venue snapshot. Hyperliquid native L2 data is capped at 20 levels per side; values above 20 do not return full depth on this route. Use the /l2 routes for full-depth aggregated L2.",
            "schema": {
              "type": "integer",
              "example": 20,
              "maximum": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order book snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOrderBook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/hyperliquid/orderbook/{symbol}/history": {
      "get": {
        "tags": [
          "Hyperliquid - Order Book"
        ],
        "summary": "Get Hyperliquid native L2 order book history (20 levels)",
        "description": "Get historical venue-native Hyperliquid L2 order book snapshots within a time range. Historical windows use `start` and `end` Unix-millisecond query parameters. This native route is capped at 20 price levels per side; use `/v1/hyperliquid/orderbook/{symbol}/l2/history` for full-depth checkpoint history derived from L4.",
        "operationId": "getHyperliquidOrderbookHistory",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "BTC"
            },
            "description": "Trading pair symbol (e.g., BTC, ETH, SOL)",
            "example": "BTC"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp in Unix milliseconds. Defaults to 24h ago.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp in Unix milliseconds. Defaults to now.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination (timestamp from previous response's `next_cursor`)",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default: 100, max: 1000)",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "depth",
            "in": "query",
            "description": "Requested price levels per side for this native venue snapshot. Hyperliquid native L2 data is capped at 20 levels per side; values above 20 do not return full depth on this route. Use the /l2 routes for full-depth aggregated L2.",
            "schema": {
              "type": "integer",
              "maximum": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of order book snapshots",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOrderBookArray"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/hyperliquid/orderbook/{symbol}/l2": {
      "get": {
        "tags": [
          "Hyperliquid - Full-Depth L2 Order Book"
        ],
        "summary": "Get Hyperliquid full-depth L2 order book",
        "description": "Get a full-depth aggregated L2 order book snapshot derived from L4 data for Hyperliquid. Use this route when you need full-depth aggregated L2 from March 10, 2026 onward. The native /orderbook route remains capped at 20 venue-native levels.",
        "operationId": "getHyperliquidFullDepthL2Orderbook",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "description": "Trading pair symbol (e.g., BTC, ETH, SOL)",
            "schema": {
              "type": "string",
              "example": "BTC"
            },
            "example": "BTC"
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "Unix timestamp in milliseconds. If not provided, returns the latest full-depth L2 snapshot.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1767225600000
            }
          },
          {
            "name": "depth",
            "in": "query",
            "description": "Requested aggregated L2 levels per side. This dedicated route returns all available aggregated levels for the selected symbol and checkpoint.",
            "schema": {
              "type": "integer",
              "example": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Full-depth L2 order book snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseFullDepthL2OrderBook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/hyperliquid/orderbook/{symbol}/l2/history": {
      "get": {
        "tags": [
          "Hyperliquid - Full-Depth L2 Order Book"
        ],
        "summary": "Get Hyperliquid full-depth L2 order book history",
        "description": "Get paginated full-depth L2 checkpoint snapshots derived from L4 data for Hyperliquid from March 10, 2026 onward. The route returns full checkpoint depth; it does not currently accept a per-request depth override.",
        "operationId": "getHyperliquidFullDepthL2History",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "description": "Trading pair symbol (e.g., BTC, ETH, SOL)",
            "schema": {
              "type": "string",
              "example": "BTC"
            },
            "example": "BTC"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp in Unix milliseconds. Defaults to 24h ago.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1767225600000
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp in Unix milliseconds. Defaults to now.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1767229200000
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination (timestamp from previous response's `next_cursor`)",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of checkpoint snapshots (default: 100, max: 1000)",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Full-depth L2 checkpoint snapshots",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseFullDepthL2OrderBookArray"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/hyperliquid/orderbook/{symbol}/l2/diffs": {
      "get": {
        "tags": [
          "Hyperliquid - Full-Depth L2 Order Book"
        ],
        "summary": "Get Hyperliquid full-depth L2 order book diffs",
        "description": "Get tick-level aggregate L2 diffs derived from L4 deltas for Hyperliquid.",
        "operationId": "getHyperliquidFullDepthL2Diffs",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "description": "Trading pair symbol (e.g., BTC, ETH, SOL)",
            "schema": {
              "type": "string",
              "example": "BTC"
            },
            "example": "BTC"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp in Unix milliseconds. Defaults to 24h ago.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1767225600000
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp in Unix milliseconds. Defaults to now.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1767229200000
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination in `timestamp_ms_block_number` form from the previous response's `next_cursor`.",
            "schema": {
              "type": "string",
              "example": "1767225600000_1023882395"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of diff events (default: 100, max: 1000)",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Full-depth L2 diff events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseL2OrderBookDiffArray"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/hyperliquid/trades/{symbol}": {
      "get": {
        "tags": [
          "Hyperliquid - Trades"
        ],
        "summary": "Get Hyperliquid trades",
        "description": "Get historical trades (fills) for a coin within a time range. Includes full execution details like fees, PnL, and position direction. Data available from April 2023. History before 2025-03-22 comes from a capped per-user API backfill and is incomplete, especially for maker-side and high-volume activity.\n\n**Pagination:** Use the `cursor` parameter with the value from the previous response's `next_cursor` for efficient pagination.",
        "operationId": "getHyperliquidTrades",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "BTC"
            },
            "description": "Trading pair symbol (e.g., BTC, ETH, SOL)",
            "example": "BTC"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp in Unix milliseconds. Defaults to 24h ago.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp in Unix milliseconds. Defaults to now.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination (use the value from previous response's `next_cursor`)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default: 100, max: 1000)",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of trades with cursor for next page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseTradeArray"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/hyperliquid/candles/{symbol}": {
      "get": {
        "tags": [
          "Hyperliquid - Candles"
        ],
        "summary": "Get Hyperliquid OHLCV candles",
        "description": "Get historical OHLCV candle data. Data available from March 2025.\n\n**Available Intervals:** 1m, 5m, 15m, 30m, 1h, 4h, 1d, 1w\n\n**Pagination:** Use the `cursor` parameter with the value from the previous response's `next_cursor` for efficient pagination.",
        "operationId": "getHyperliquidCandles",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "BTC"
            },
            "description": "Trading pair symbol (e.g., BTC, ETH, SOL)",
            "example": "BTC"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp in Unix milliseconds. Defaults to 24h ago.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp in Unix milliseconds. Defaults to now.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Candle interval (default: 1h)",
            "schema": {
              "type": "string",
              "enum": [
                "1m",
                "5m",
                "15m",
                "30m",
                "1h",
                "4h",
                "1d",
                "1w"
              ],
              "default": "1h"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination (use the value from previous response's `next_cursor`)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default: 100, max: 10000)",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 10000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of OHLCV candles with cursor for next page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCandleArray"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/hyperliquid/openinterest/{symbol}": {
      "get": {
        "tags": [
          "Hyperliquid - Open Interest"
        ],
        "summary": "Get Hyperliquid open interest history",
        "description": "Get historical open interest data with associated market context (mark price, oracle price, volume, etc.). Data available from May 2023.",
        "operationId": "getHyperliquidOpenInterest",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "BTC"
            },
            "description": "Trading pair symbol (e.g., BTC, ETH, SOL)",
            "example": "BTC"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp in Unix milliseconds. Defaults to 24h ago.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp in Unix milliseconds. Defaults to now.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default: 100, max: 1000)",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "5m",
                "15m",
                "30m",
                "1h",
                "4h",
                "1d"
              ]
            },
            "description": "Aggregation interval. When omitted, returns raw ~1 min updates."
          }
        ],
        "responses": {
          "200": {
            "description": "Open interest data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOpenInterestArray"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/hyperliquid/openinterest/{symbol}/current": {
      "get": {
        "tags": [
          "Hyperliquid - Open Interest"
        ],
        "summary": "Get current Hyperliquid open interest",
        "description": "Get the latest open interest value and market context.",
        "operationId": "getCurrentHyperliquidOpenInterest",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "BTC"
            },
            "description": "Trading pair symbol (e.g., BTC, ETH, SOL)",
            "example": "BTC"
          }
        ],
        "responses": {
          "200": {
            "description": "Current open interest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOpenInterest"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/hyperliquid/funding/{symbol}": {
      "get": {
        "tags": [
          "Hyperliquid - Funding"
        ],
        "summary": "Get Hyperliquid funding rate history",
        "description": "Get historical funding rates. Funding is settled every 8 hours on Hyperliquid. Data available from May 2023.",
        "operationId": "getHyperliquidFundingHistory",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "BTC"
            },
            "description": "Trading pair symbol (e.g., BTC, ETH, SOL)",
            "example": "BTC"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp in Unix milliseconds. Defaults to 24h ago.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp in Unix milliseconds. Defaults to now.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default: 100, max: 1000)",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "5m",
                "15m",
                "30m",
                "1h",
                "4h",
                "1d"
              ]
            },
            "description": "Aggregation interval. When omitted, returns raw ~1 min updates."
          }
        ],
        "responses": {
          "200": {
            "description": "Funding rate history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseFundingRateArray"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/hyperliquid/funding/{symbol}/current": {
      "get": {
        "tags": [
          "Hyperliquid - Funding"
        ],
        "summary": "Get current Hyperliquid funding rate",
        "description": "Get the latest funding rate for a coin.",
        "operationId": "getCurrentHyperliquidFunding",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "BTC"
            },
            "description": "Trading pair symbol (e.g., BTC, ETH, SOL)",
            "example": "BTC"
          }
        ],
        "responses": {
          "200": {
            "description": "Current funding rate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseFundingRate"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/hyperliquid/liquidations/{symbol}": {
      "get": {
        "tags": [
          "Hyperliquid - Liquidations"
        ],
        "summary": "Get Hyperliquid liquidation events",
        "description": "Get historical liquidation events for a coin. The observed global floor is July 27, 2025; exact starts vary by symbol.",
        "operationId": "getHyperliquidLiquidations",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "description": "Trading pair symbol (e.g., BTC, ETH)",
            "schema": {
              "type": "string",
              "example": "BTC"
            },
            "example": "BTC"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp in Unix milliseconds. Defaults to 24h ago.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp in Unix milliseconds. Defaults to now.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination (format: timestamp_tradeId)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default: 100, max: 1000)",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liquidation events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseLiquidationArray"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/hyperliquid/liquidations/user/{user}": {
      "get": {
        "tags": [
          "Hyperliquid - Liquidations"
        ],
        "summary": "Get liquidations by user address",
        "description": "Get historical liquidation events for a specific user address. Returns liquidations where the user was the liquidated party. The observed global floor is July 27, 2025; exact starts vary by symbol.",
        "operationId": "getHyperliquidLiquidationsByUser",
        "parameters": [
          {
            "name": "user",
            "in": "path",
            "required": true,
            "description": "User wallet address (e.g., 0x...)",
            "schema": {
              "type": "string",
              "example": "0x84eec0068b37919cc8f13d7454073ac167374cc0"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp in Unix milliseconds. Defaults to 24h ago.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp in Unix milliseconds. Defaults to now.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "description": "Optional symbol filter (e.g., BTC, ETH)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination (timestamp in milliseconds)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default: 100, max: 1000)",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User liquidation events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseLiquidationArray"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/hyperliquid/liquidations/{symbol}/volume": {
      "get": {
        "tags": [
          "Hyperliquid - Convenience"
        ],
        "summary": "Get aggregated liquidation volume",
        "description": "Get pre-aggregated liquidation volumes in time-bucketed intervals. Returns total, long, and short USD volumes with counts.",
        "operationId": "getHyperliquidLiquidationVolume",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "description": "Coin symbol (e.g., BTC, ETH, SOL)",
            "schema": {
              "type": "string",
              "example": "BTC"
            },
            "example": "BTC"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp in milliseconds",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp in milliseconds",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Aggregation interval",
            "schema": {
              "type": "string",
              "enum": [
                "5m",
                "15m",
                "30m",
                "1h",
                "4h",
                "1d"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default: 100, max: 1000)",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregated liquidation volume data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseLiquidationVolumeArray"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/hyperliquid/freshness/{symbol}": {
      "get": {
        "tags": [
          "Hyperliquid - Convenience"
        ],
        "summary": "Get data freshness",
        "description": "Check when data was last updated for each data type for a specific coin.",
        "operationId": "getHyperliquidFreshness",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "description": "Coin symbol (e.g., BTC, ETH, SOL)",
            "schema": {
              "type": "string",
              "example": "BTC"
            },
            "example": "BTC"
          }
        ],
        "responses": {
          "200": {
            "description": "Data freshness for the coin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCoinFreshness"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/hyperliquid/summary/{symbol}": {
      "get": {
        "tags": [
          "Hyperliquid - Convenience"
        ],
        "summary": "Get market summary",
        "description": "Get a combined market summary including price, funding, OI, volume, and liquidation data in a single call.",
        "operationId": "getHyperliquidSummary",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "description": "Coin symbol (e.g., BTC, ETH, SOL)",
            "schema": {
              "type": "string",
              "example": "BTC"
            },
            "example": "BTC"
          }
        ],
        "responses": {
          "200": {
            "description": "Market summary for the coin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCoinSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/hyperliquid/prices/{symbol}": {
      "get": {
        "tags": [
          "Hyperliquid - Convenience"
        ],
        "summary": "Get price history",
        "description": "Get mark/oracle price history. Lightweight projection of open interest data returning only price fields.",
        "operationId": "getHyperliquidPriceHistory",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "description": "Coin symbol (e.g., BTC, ETH, SOL)",
            "schema": {
              "type": "string",
              "example": "BTC"
            },
            "example": "BTC"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp in milliseconds",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp in milliseconds",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Aggregation interval",
            "schema": {
              "type": "string",
              "enum": [
                "5m",
                "15m",
                "30m",
                "1h",
                "4h",
                "1d"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default: 100, max: 1000)",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Price history data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePriceSnapshotArray"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/lighter/instruments": {
      "get": {
        "tags": [
          "Lighter - Instruments"
        ],
        "summary": "List Lighter instruments",
        "description": "Get all available Lighter trading instruments with their specifications. Returns `LighterInstrument` objects which include fees, market IDs, and minimum order amounts.",
        "operationId": "listLighterInstruments",
        "responses": {
          "200": {
            "description": "List of Lighter instruments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseLighterInstrumentArray"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/lighter/instruments/{symbol}": {
      "get": {
        "tags": [
          "Lighter - Instruments"
        ],
        "summary": "Get Lighter instrument",
        "description": "Get details for a specific Lighter trading instrument. Returns a `LighterInstrument` object which includes fees, market ID, and minimum order amounts.",
        "operationId": "getLighterInstrument",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ETH"
            },
            "description": "Trading pair symbol (e.g., ETH, BTC)",
            "example": "ETH"
          }
        ],
        "responses": {
          "200": {
            "description": "Lighter instrument details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseLighterInstrument"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/lighter/orderbook/{symbol}": {
      "get": {
        "tags": [
          "Lighter - Order Book"
        ],
        "summary": "Get Lighter order book",
        "description": "Get the latest order book snapshot for a coin, or at a specific timestamp. Returns L2 depth with price, size, and order count at each level. Tick-level resolution.",
        "operationId": "getLighterOrderbook",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "description": "Trading pair symbol (e.g., BTC, ETH)",
            "schema": {
              "type": "string",
              "example": "ETH"
            },
            "example": "ETH"
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "Unix timestamp in milliseconds. If not provided, returns latest snapshot.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1704067200000
            }
          },
          {
            "name": "depth",
            "in": "query",
            "description": "Requested price levels per side. The Lighter native L2 route includes all served levels.",
            "schema": {
              "type": "integer",
              "example": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order book snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOrderBook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/lighter/orderbook/{symbol}/history": {
      "get": {
        "tags": [
          "Lighter - Order Book"
        ],
        "summary": "Get Lighter order book history",
        "description": "Get historical order book snapshots within a time range with configurable resolution. Checkpoint history starts January 29, 2026; 30s/10s/1s start January 30, 2026. Use 'granularity' parameter to control data resolution.\n\n**Tick-Level Data:**\nWhen `granularity=tick`, the response format changes. Instead of returning snapshots in the `data` array, it returns:\n- `checkpoint`: Full orderbook state at the start of the time range\n- `deltas`: Array of incremental changes to apply to the checkpoint\n\nThis is the most efficient format for reconstructing high-frequency orderbook states. Use the SDK's `OrderBookReconstructor` class for client-side reconstruction.",
        "operationId": "getLighterOrderbookHistory",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ETH"
            },
            "description": "Trading pair symbol (e.g., ETH, BTC)",
            "example": "ETH"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp in Unix milliseconds. Defaults to 24h ago.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp in Unix milliseconds. Defaults to now.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default: 100, max: 1000)",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "depth",
            "in": "query",
            "description": "Requested price levels per side. The Lighter native L2 route includes all served levels.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "description": "Data resolution: checkpoint (1min, default), 30s, 10s, 1s, tick. Checkpoint history starts January 29, 2026; 30s/10s/1s start January 30, 2026. Billed per row returned (about 1 credit per 1,000 rows, minimum 1 credit per request). Higher resolutions return more rows. **Note:** When granularity=tick, the response format changes to return `checkpoint` and `deltas` instead of a `data` array.",
            "schema": {
              "type": "string",
              "enum": [
                "checkpoint",
                "30s",
                "10s",
                "1s",
                "tick"
              ],
              "default": "checkpoint"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of order book snapshots",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOrderBookArray"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/lighter/trades/{symbol}": {
      "get": {
        "tags": [
          "Lighter - Trades"
        ],
        "summary": "Get Lighter trades",
        "description": "Get historical trades (fills) for a coin within a time range. Served fill history begins August 27, 2025; exact starts vary by market.\n\n**Pagination:** Use the `cursor` parameter with the value from the previous response's `next_cursor` for efficient pagination.",
        "operationId": "getLighterTrades",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ETH"
            },
            "description": "Trading pair symbol (e.g., ETH, BTC)",
            "example": "ETH"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp in Unix milliseconds. Defaults to 24h ago.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp in Unix milliseconds. Defaults to now.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default: 100, max: 1000)",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of trades with cursor for next page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseLighterTradeArray"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/lighter/trades/{symbol}/recent": {
      "get": {
        "tags": [
          "Lighter - Trades"
        ],
        "summary": "Get recent Lighter trades",
        "description": "Get the most recent trades for a coin, ordered by timestamp descending.",
        "operationId": "getLighterRecentTrades",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ETH"
            },
            "description": "Trading pair symbol (e.g., ETH, BTC)",
            "example": "ETH"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of trades to return (default: 100, max: 1000)",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of recent trades",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseLighterTradeArray"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/lighter/candles/{symbol}": {
      "get": {
        "tags": [
          "Lighter - Candles"
        ],
        "summary": "Get Lighter OHLCV candles",
        "description": "Get historical OHLCV candle data. Supports multiple intervals from 1 minute to 1 week. Data available from August 2025.\n\n**Available Intervals:** 1m, 5m, 15m, 30m, 1h, 4h, 1d, 1w\n\n**Pagination:** Use the `cursor` parameter with the value from the previous response's `next_cursor` for efficient pagination.",
        "operationId": "getLighterCandles",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ETH"
            },
            "description": "Trading pair symbol (e.g., ETH, BTC)",
            "example": "ETH"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp in Unix milliseconds. Defaults to 24h ago.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp in Unix milliseconds. Defaults to now.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Candle interval (default: 1h)",
            "schema": {
              "type": "string",
              "enum": [
                "1m",
                "5m",
                "15m",
                "30m",
                "1h",
                "4h",
                "1d",
                "1w"
              ],
              "default": "1h"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination (use the value from previous response's `next_cursor`)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default: 100, max: 10000)",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 10000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of OHLCV candles with cursor for next page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCandleArray"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/lighter/openinterest/{symbol}": {
      "get": {
        "tags": [
          "Lighter - Open Interest"
        ],
        "summary": "Get Lighter open interest history",
        "description": "Get historical open interest data. Data available from August 2025.",
        "operationId": "getLighterOpenInterest",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ETH"
            },
            "description": "Trading pair symbol (e.g., ETH, BTC)",
            "example": "ETH"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp in Unix milliseconds. Defaults to 24h ago.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp in Unix milliseconds. Defaults to now.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default: 100, max: 1000)",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "5m",
                "15m",
                "30m",
                "1h",
                "4h",
                "1d"
              ]
            },
            "description": "Aggregation interval. When omitted, returns raw ~10 sec updates."
          }
        ],
        "responses": {
          "200": {
            "description": "Open interest data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOpenInterestArray"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/lighter/openinterest/{symbol}/current": {
      "get": {
        "tags": [
          "Lighter - Open Interest"
        ],
        "summary": "Get current Lighter open interest",
        "description": "Get the latest open interest value.",
        "operationId": "getCurrentLighterOpenInterest",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ETH"
            },
            "description": "Trading pair symbol (e.g., ETH, BTC)",
            "example": "ETH"
          }
        ],
        "responses": {
          "200": {
            "description": "Current open interest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOpenInterest"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/lighter/funding/{symbol}": {
      "get": {
        "tags": [
          "Lighter - Funding"
        ],
        "summary": "Get Lighter funding rate history",
        "description": "Get historical Lighter funding rates. `funding_rate` is a fractional, non-annualized decimal, not percentage points. Data available from August 2025.",
        "operationId": "getLighterFundingHistory",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ETH"
            },
            "description": "Trading pair symbol (e.g., ETH, BTC)",
            "example": "ETH"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp in Unix milliseconds. Defaults to 24h ago.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp in Unix milliseconds. Defaults to now.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default: 100, max: 1000)",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "5m",
                "15m",
                "30m",
                "1h",
                "4h",
                "1d"
              ]
            },
            "description": "Aggregation interval. When omitted, returns raw ~10 sec updates."
          }
        ],
        "responses": {
          "200": {
            "description": "Funding rate history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseFundingRateArray"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/lighter/funding/{symbol}/current": {
      "get": {
        "tags": [
          "Lighter - Funding"
        ],
        "summary": "Get current Lighter funding rate",
        "description": "Get the latest Lighter funding rate for a coin. `funding_rate` is a fractional, non-annualized decimal, not percentage points.",
        "operationId": "getCurrentLighterFunding",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ETH"
            },
            "description": "Trading pair symbol (e.g., ETH, BTC)",
            "example": "ETH"
          }
        ],
        "responses": {
          "200": {
            "description": "Current funding rate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseFundingRate"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
[...]
