openapi: 3.2.0
info:
  title: 0xArchive HIP-3 Builder Perps - Liquidations API
  description: REST API for current and historical market data from Hyperliquid and Lighter. Hyperliquid coverage includes core perpetuals, Spot, HIP-3 builder perpetuals, and HIP-4 outcome markets. Coverage and access requirements vary by route. See https://docs.0xarchive.io/ for authentication, limits, and examples.
  version: 1.6.1
  termsOfService: https://0xarchive.io/terms
  contact:
    name: 0xArchive Support
    url: https://0xarchive.io
    email: support@0xarchive.io
  license:
    name: Proprietary
    url: https://0xarchive.io/terms
servers:
- url: https://api.0xarchive.io
  description: Production API
security:
- ApiKeyAuth: []
tags:
- name: HIP-3 Builder Perps - Liquidations
  description: HIP-3 Builder Perps liquidation-related fills. Coverage is symbol-specific; verify the selected market before choosing a time range.
paths:
  /v1/hyperliquid/hip3/liquidations/{symbol}:
    get:
      tags:
      - HIP-3 Builder Perps - Liquidations
      summary: Get HIP-3 liquidation events
      description: Get liquidation-related fills for a HIP-3 symbol. Results can include liquidated-user rows plus counterparty/open-side rows. Coverage is symbol-specific; verify the selected market before choosing a time range.
      operationId: getHip3Liquidations
      parameters:
      - name: symbol
        in: path
        required: true
        description: HIP-3 trading pair symbol (e.g., hyna:BTC, km:US500). Case-sensitive.
        schema:
          type: string
          example: hyna:BTC
        example: hyna:BTC
      - name: start
        in: query
        required: true
        description: Start timestamp (Unix milliseconds)
        schema:
          type: integer
          format: int64
          example: 1769922000000
      - name: end
        in: query
        description: End timestamp (Unix milliseconds). Defaults to now.
        schema:
          type: integer
          format: int64
      - name: cursor
        in: query
        description: 'Pagination cursor (format: {timestamp_ms}_{trade_id})'
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum records to return (1-1000)
        schema:
          type: integer
          default: 1000
          maximum: 1000
      responses:
        '200':
          description: Liquidation events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseLiquidationArray'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v1/hyperliquid/hip3/liquidations/{symbol}/volume:
    get:
      tags:
      - HIP-3 Builder Perps - Liquidations
      summary: Get HIP-3 aggregated liquidation volume
      description: Get aggregated liquidation-related volume in time-bucketed intervals for a HIP-3 symbol. total_* covers all liquidation rows; long_* and short_* are directional-family subtotals and may not sum to total when upstream emits unclassified directions. Coverage is symbol-specific; verify the selected market before choosing a time range.
      operationId: getHip3LiquidationVolume
      parameters:
      - name: symbol
        in: path
        required: true
        description: HIP-3 trading pair symbol (e.g., hyna:BTC, km:US500). Case-sensitive.
        schema:
          type: string
          example: hyna:BTC
        example: hyna:BTC
      - name: start
        in: query
        required: true
        description: Start timestamp (Unix milliseconds)
        schema:
          type: integer
          format: int64
          example: 1769922000000
      - name: end
        in: query
        description: End timestamp (Unix milliseconds). Defaults to now.
        schema:
          type: integer
          format: int64
      - name: cursor
        in: query
        description: Pagination cursor (timestamp in milliseconds)
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum buckets to return (1-1000)
        schema:
          type: integer
          default: 1000
          maximum: 1000
      - name: interval
        in: query
        description: Aggregation interval
        schema:
          type: string
          enum:
          - 5m
          - 15m
          - 30m
          - 1h
          - 4h
          - 1d
          default: 1h
      responses:
        '200':
          description: Aggregated liquidation volume data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseLiquidationVolumeArray'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  schemas:
    ApiResponseLiquidationVolumeArray:
      type: object
      description: API response containing an array of aggregated liquidation volumes
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/LiquidationVolume'
        meta:
          type: object
          properties:
            count:
              type: integer
              description: Number of records returned
            next_cursor:
              type:
              - string
              - 'null'
              description: Cursor for pagination
    Liquidation:
      type: object
      description: Liquidation event
      required:
      - symbol
      - coin
      - timestamp
      - liquidated_user
      - liquidator_user
      - price
      - size
      - side
      properties:
        symbol:
          type: string
          description: Trading pair symbol
          example: BTC
        coin:
          type: string
          description: Trading pair symbol (deprecated, use symbol instead)
          example: BTC
          deprecated: true
        timestamp:
          type: string
          format: date-time
          description: Liquidation timestamp (UTC)
          example: '2025-05-21T10:30:00.000Z'
        liquidated_user:
          type: string
          description: Address of the user who was liquidated
          example: '0x84eec0068b37919cc8f13d7454073ac167374cc0'
        liquidator_user:
          type: string
          description: Address of the liquidator (counterparty)
          example: '0x4d969e59b312970cc07af266938a4433ccae0b4c'
        price:
          type: string
          description: Price at which the liquidation was executed
          example: '42500.50'
        size:
          type: string
          description: Size of the liquidated position
          example: '1.5'
        side:
          type: string
          description: Exchange side code for the liquidation-related fill (`A`/`B`). Use `direction` for close/open interpretation, especially on HIP-3.
          example: B
        mark_price:
          type:
          - string
          - 'null'
          description: Mark price at time of liquidation
          example: '42480.25'
        closed_pnl:
          type:
          - string
          - 'null'
          description: Realized PnL from the liquidation (usually negative)
          example: '-1250.50'
        direction:
          type:
          - string
          - 'null'
          description: Upstream direction label (for example `Close Long`, `Close Short`; HIP-3 can also emit `Open Long`, `Open Short`, or rare unclassified values such as `Long > Short`)
          example: Close Long
        trade_id:
          type:
          - integer
          - 'null'
          format: int64
          description: Trade ID for this liquidation
          example: 1234567890
        tx_hash:
          type:
          - string
          - 'null'
          description: Blockchain transaction hash
          example: '0xe266d353038e679c5d7e042433054f0000e1d8e52f7860ecda84573b9b5a02ca'
    Error:
      type: object
      description: Error response
      properties:
        code:
          type: integer
          description: HTTP status code
        error:
          type: string
          description: Error message
        error_code:
          type: string
          description: 'Machine-readable error code. Common values: `invalid_query_params` (a query parameter failed to parse or validate) and `invalid_path_params` (a path parameter failed to parse). Other endpoint-specific codes exist; treat unknown codes as generic errors of the given HTTP status.'
        request_id:
          type: string
          format: uuid
          description: Unique request ID for support
    LiquidationVolume:
      type: object
      description: Aggregated liquidation volume for a time bucket
      required:
      - symbol
      - coin
      - timestamp
      - total_usd
      - long_usd
      - short_usd
      - count
      - long_count
      - short_count
      properties:
        symbol:
          type: string
          description: Trading pair symbol
          example: BTC
        coin:
          type: string
          description: Trading pair symbol (deprecated, use symbol instead)
          example: BTC
          deprecated: true
        timestamp:
          type: string
          format: date-time
          description: Bucket start timestamp (UTC)
          example: '2025-05-21T10:00:00.000Z'
        total_usd:
          type: number
          description: Total liquidation volume in USD
          example: 1250000.5
        long_usd:
          type: number
          description: Long liquidation volume in USD
          example: 750000.25
        short_usd:
          type: number
          description: Short liquidation volume in USD
          example: 500000.25
        count:
          type: integer
          description: Total number of liquidations
          example: 42
        long_count:
          type: integer
          description: Number of long liquidations
          example: 25
        short_count:
          type: integer
          description: Number of short liquidations
          example: 17
    ApiResponseLiquidationArray:
      type: object
      description: API response containing an array of liquidation events
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/Liquidation'
        meta:
          type: object
          properties:
            count:
              type: integer
              description: Number of records returned
            next_cursor:
              type:
              - string
              - 'null'
              description: 'Cursor for pagination (format: timestamp_tradeId)'
  responses:
    RateLimited:
      description: Rate limit exceeded
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Requests per second limit
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Remaining requests this second
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when limit resets
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 429
            error: Rate limit exceeded
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 401
            error: Missing or invalid API key. Provide X-API-Key header.
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 400
            error: 'Failed to deserialize query string: limit: invalid digit found in string'
            error_code: invalid_query_params
            request_id: 3f2a9c71-5b0e-4d68-9a4c-7e1d2b6f8a05
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for authentication. Get yours at https://0xarchive.io/dashboard
externalDocs:
  description: 0xArchive Developer Docs
  url: https://docs.0xarchive.io/
x-0xarchive-docs-language-overlay:
  name: data-quality-supported-venue-language
  reason: Public OpenAPI language must describe supported venue-family coverage instead of broad exchange coverage.
  updated_at: '2026-05-24'
  remove_when: Public source OpenAPI uses supported venue-family wording for data-quality coverage and latency descriptions.
x-0xarchive-docs-overlay:
  name: hyperliquid-spot
  reason: Hyperliquid Spot routes are included in the local REST contract.
  source: live endpoint behavior and public CLI/MCP/Skill surface truth
  updated_at: '2026-05-08'
  remove_when: Public source contract includes the same Spot route family.
