openapi: 3.2.0
info:
  title: 0xArchive HIP-4 Outcomes - Open Interest API
  description: REST API for current and historical market data from Hyperliquid and Lighter. Hyperliquid coverage includes core perpetuals, Spot, HIP-3 builder perpetuals, and HIP-4 outcome markets. Coverage and access requirements vary by route. See https://docs.0xarchive.io/ for authentication, limits, and examples.
  version: 1.6.1
  termsOfService: https://0xarchive.io/terms
  contact:
    name: 0xArchive Support
    url: https://0xarchive.io
    email: support@0xarchive.io
  license:
    name: Proprietary
    url: https://0xarchive.io/terms
servers:
- url: https://api.0xarchive.io
  description: Production API
security:
- ApiKeyAuth: []
tags:
- name: HIP-4 Outcomes - Open Interest
  description: HIP-4 outcome markets per-side open interest history. Display/paired/parity aggregates live on the `/outcomes/{outcome_id}` detail endpoint, not here. Data from May 2026.
paths:
  /v1/hyperliquid/hip4/openinterest/{symbol}:
    get:
      tags:
      - HIP-4 Outcomes - Open Interest
      summary: Get HIP-4 open interest history
      description: 'Get historical per-side open interest data for a HIP-4 outcome side. Mirrors HIP-3 OI shape plus `outcome_id` and `side` fields. Display/paired/parity aggregates (sum across both sides, paired-set supply, side-supply parity check) live on `/outcomes/{outcome_id}.aggregated_oi`, NOT on this endpoint. Note: `mark_price` for HIP-4 outcomes is an implied probability in [0,1], not a USD price; same field name as perps because Hyperliquid upstream uses `markPx` for both. Data available from May 2026.'
      operationId: getHip4OpenInterest
      parameters:
      - name: symbol
        in: path
        required: true
        description: HIP-4 coin id (e.g., `0` for outcome 0 Yes side, `1` for No side). The `#`-prefixed form (`#0`, `#1`) is also accepted.
        schema:
          type: string
          example: '0'
        example: '0'
      - name: start
        in: query
        description: Start timestamp in Unix milliseconds. Defaults to 24h ago.
        schema:
          type: integer
          format: int64
      - name: end
        in: query
        description: End timestamp in Unix milliseconds. Defaults to now.
        schema:
          type: integer
          format: int64
      - name: cursor
        in: query
        description: Cursor for pagination
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        description: 'Maximum number of results (default: 100, max: 1000)'
        schema:
          type: integer
          default: 100
          maximum: 1000
      - name: interval
        in: query
        required: false
        schema:
          type: string
          enum:
          - 5m
          - 15m
          - 30m
          - 1h
          - 4h
          - 1d
        description: Aggregation interval. When omitted, returns raw ~10 sec outcome-side open-interest updates.
      responses:
        '200':
          description: Open interest data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseHip4OpenInterestArray'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v1/hyperliquid/hip4/openinterest/{symbol}/current:
    get:
      tags:
      - HIP-4 Outcomes - Open Interest
      summary: Get current HIP-4 open interest
      description: 'Get the latest per-side open interest value for a HIP-4 outcome side. Mirrors HIP-3 OI shape plus `outcome_id` and `side` fields. Note: `mark_price` for HIP-4 outcomes is an implied probability in [0,1], not a USD price; same field name as perps because Hyperliquid upstream uses `markPx` for both.'
      operationId: getCurrentHip4OpenInterest
      parameters:
      - name: symbol
        in: path
        required: true
        description: HIP-4 coin id (e.g., `0` for outcome 0 Yes side, `1` for No side). The `#`-prefixed form (`#0`, `#1`) is also accepted.
        schema:
          type: string
          example: '0'
        example: '0'
      responses:
        '200':
          description: Current open interest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseHip4OpenInterest'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  schemas:
    Hip4OpenInterestRecord:
      type: object
      description: 'HIP-4 per-side open-interest record. Mirrors the HIP-3 OI shape and adds `outcome_id` and `side`. `oracle_price` is omitted for HIP-4 (outcomes have no oracle feed). Note: `mark_price` is an implied probability in [0,1], not a USD price; same field name as perps because Hyperliquid upstream uses `markPx` for both.'
      required:
      - coin
      - symbol
      - outcome_id
      - side
      - timestamp
      - open_interest
      properties:
        coin:
          type: string
          description: '`#`-prefixed per-side coin identifier'
          example: '#0'
        symbol:
          type: string
          description: Same value as `coin`. Provided for consistency with other venues.
          example: '#0'
        outcome_id:
          type: integer
          format: int64
          description: Numeric outcome identifier
          example: 0
        side:
          type: integer
          description: 'Side index: 0 = Yes, 1 = No'
          enum:
          - 0
          - 1
          example: 0
        timestamp:
          type: string
          format: date-time
          description: Snapshot timestamp (UTC)
          example: '2026-05-02T20:27:21Z'
        open_interest:
          type: string
          description: 'Open interest in contracts (notional currency: USDH)'
          example: '568048'
        mark_price:
          type:
          - string
          - 'null'
          description: Implied probability in [0,1], NOT a USD price. Same field name as perps because Hyperliquid upstream uses `markPx` for both.
          example: '0.6502'
        mid_price:
          type:
          - string
          - 'null'
          description: Mid price (probability in [0,1])
          example: '0.65038'
    ApiMeta:
      type: object
      description: Response metadata
      properties:
        count:
          type: integer
          description: Number of records returned
        next_cursor:
          type:
          - string
          - 'null'
          description: Cursor for pagination (timestamp). Use this value as the `cursor` parameter to fetch the next page of results.
        request_id:
          type: string
          format: uuid
          description: Unique request ID for support
        coverage_from:
          type: string
          format: date-time
          description: Earliest coverage for the requested symbol and data type. Present only when the requested window ends before coverage begins.
        notice:
          type: string
          description: Human-readable advisory about the response. Currently used when the requested window ends before coverage begins for the symbol; may carry other advisories in future.
    Error:
      type: object
      description: Error response
      properties:
        code:
          type: integer
          description: HTTP status code
        error:
          type: string
          description: Error message
        error_code:
          type: string
          description: 'Machine-readable error code. Common values: `invalid_query_params` (a query parameter failed to parse or validate) and `invalid_path_params` (a path parameter failed to parse). Other endpoint-specific codes exist; treat unknown codes as generic errors of the given HTTP status.'
        request_id:
          type: string
          format: uuid
          description: Unique request ID for support
    ApiResponseHip4OpenInterestArray:
      type: object
      description: API response wrapping an array of HIP-4 per-side open-interest records
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/Hip4OpenInterestRecord'
        meta:
          $ref: '#/components/schemas/ApiMeta'
    ApiResponseHip4OpenInterest:
      type: object
      description: API response wrapping a single HIP-4 per-side open-interest record
      properties:
        success:
          type: boolean
          example: true
        data:
          $ref: '#/components/schemas/Hip4OpenInterestRecord'
        meta:
          $ref: '#/components/schemas/ApiMeta'
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 404
            error: Resource not found
    RateLimited:
      description: Rate limit exceeded
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Requests per second limit
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Remaining requests this second
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when limit resets
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 429
            error: Rate limit exceeded
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 400
            error: 'Failed to deserialize query string: limit: invalid digit found in string'
            error_code: invalid_query_params
            request_id: 3f2a9c71-5b0e-4d68-9a4c-7e1d2b6f8a05
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 401
            error: Missing or invalid API key. Provide X-API-Key header.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for authentication. Get yours at https://0xarchive.io/dashboard
externalDocs:
  description: 0xArchive Developer Docs
  url: https://docs.0xarchive.io/
x-0xarchive-docs-language-overlay:
  name: data-quality-supported-venue-language
  reason: Public OpenAPI language must describe supported venue-family coverage instead of broad exchange coverage.
  updated_at: '2026-05-24'
  remove_when: Public source OpenAPI uses supported venue-family wording for data-quality coverage and latency descriptions.
x-0xarchive-docs-overlay:
  name: hyperliquid-spot
  reason: Hyperliquid Spot routes are included in the local REST contract.
  source: live endpoint behavior and public CLI/MCP/Skill surface truth
  updated_at: '2026-05-08'
  remove_when: Public source contract includes the same Spot route family.
