openapi: 3.2.0
info:
  title: 0xArchive HIP-3 Builder Perps - Oracle API
  description: REST API for current and historical market data from Hyperliquid and Lighter. Hyperliquid coverage includes core perpetuals, Spot, HIP-3 builder perpetuals, and HIP-4 outcome markets. Coverage and access requirements vary by route. See https://docs.0xarchive.io/ for authentication, limits, and examples.
  version: 1.6.1
  termsOfService: https://0xarchive.io/terms
  contact:
    name: 0xArchive Support
    url: https://0xarchive.io
    email: support@0xarchive.io
  license:
    name: Proprietary
    url: https://0xarchive.io/terms
servers:
- url: https://api.0xarchive.io
  description: Production API
security:
- ApiKeyAuth: []
tags:
- name: HIP-3 Builder Perps - Oracle
paths:
  /v1/hyperliquid/hip3/oracle/external-price/{symbol}:
    get:
      tags:
      - HIP-3 Builder Perps - Oracle
      summary: Get HIP-3 oracle external price
      description: Get the latest deployer-pushed external reference price and mark price for a HIP-3 market. Live responses currently meter this route at 1 credit per request.
      operationId: getHip3OracleExternalPrice
      parameters:
      - name: symbol
        in: path
        required: true
        description: HIP-3 symbol with builder prefix. Case-sensitive.
        schema:
          type: string
          example: km:US500
        example: km:US500
      responses:
        '200':
          description: HIP-3 oracle external price
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseHip3OracleExternalPrice'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v1/hyperliquid/hip3/oracle/discovery-bounds/{symbol}:
    get:
      tags:
      - HIP-3 Builder Perps - Oracle
      summary: Get HIP-3 oracle discovery bounds
      description: Get the instantaneous discovery bounds for a HIP-3 market using the current reference price and max leverage. The full ratcheted range can be wider when deployer-specific reset config applies. Live responses currently meter this route at 1 credit per request.
      operationId: getHip3OracleDiscoveryBounds
      parameters:
      - name: symbol
        in: path
        required: true
        description: HIP-3 symbol with builder prefix. Case-sensitive.
        schema:
          type: string
          example: km:US500
        example: km:US500
      responses:
        '200':
          description: HIP-3 oracle discovery bounds
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseHip3OracleDiscoveryBounds'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  schemas:
    ApiResponseHip3OracleExternalPrice:
      type: object
      description: API response containing HIP-3 oracle external price data.
      properties:
        success:
          type: boolean
          example: true
        data:
          $ref: '#/components/schemas/Hip3OracleExternalPrice'
        meta:
          $ref: '#/components/schemas/ApiMeta'
    ApiMeta:
      type: object
      description: Response metadata
      properties:
        count:
          type: integer
          description: Number of records returned
        next_cursor:
          type:
          - string
          - 'null'
          description: Cursor for pagination (timestamp). Use this value as the `cursor` parameter to fetch the next page of results.
        request_id:
          type: string
          format: uuid
          description: Unique request ID for support
        coverage_from:
          type: string
          format: date-time
          description: Earliest coverage for the requested symbol and data type. Present only when the requested window ends before coverage begins.
        notice:
          type: string
          description: Human-readable advisory about the response. Currently used when the requested window ends before coverage begins for the symbol; may carry other advisories in future.
    Hip3OracleDiscoveryBounds:
      type: object
      description: Instantaneous HIP-3 discovery bounds derived from the current reference price and max leverage.
      required:
      - symbol
      - reference_price
      - reference_source
      - max_leverage
      - bound_fraction
      - lower_bound
      - upper_bound
      - block_number
      - timestamp
      properties:
        symbol:
          type: string
          description: HIP-3 symbol.
          example: km:US500
        reference_price:
          type: number
          description: External price when available, otherwise mark price.
          example: 752.24
        reference_source:
          type: string
          enum:
          - external
          - mark
          description: Price source used for the bounds.
          example: external
        max_leverage:
          type: integer
          description: Market max leverage used for the bound fraction.
          example: 20
        bound_fraction:
          type: number
          description: Fraction applied on each side of reference_price.
          example: 0.05
        lower_bound:
          type: number
          description: Instantaneous lower discovery bound.
          example: 714.628
        upper_bound:
          type: number
          description: Instantaneous upper discovery bound.
          example: 789.852
        block_number:
          type: integer
          format: int64
          description: Source block number.
          example: 1038634032
        timestamp:
          type: integer
          format: int64
          description: Source timestamp in Unix milliseconds.
          example: 1781678086894
    ApiResponseHip3OracleDiscoveryBounds:
      type: object
      description: API response containing HIP-3 oracle discovery bounds.
      properties:
        success:
          type: boolean
          example: true
        data:
          $ref: '#/components/schemas/Hip3OracleDiscoveryBounds'
        meta:
          $ref: '#/components/schemas/ApiMeta'
    Error:
      type: object
      description: Error response
      properties:
        code:
          type: integer
          description: HTTP status code
        error:
          type: string
          description: Error message
        error_code:
          type: string
          description: 'Machine-readable error code. Common values: `invalid_query_params` (a query parameter failed to parse or validate) and `invalid_path_params` (a path parameter failed to parse). Other endpoint-specific codes exist; treat unknown codes as generic errors of the given HTTP status.'
        request_id:
          type: string
          format: uuid
          description: Unique request ID for support
    Hip3OracleExternalPrice:
      type: object
      description: Latest deployer-pushed external and mark price for a HIP-3 market.
      required:
      - symbol
      - block_number
      - timestamp
      properties:
        symbol:
          type: string
          description: HIP-3 symbol.
          example: km:US500
        external_price:
          type:
          - number
          - 'null'
          description: Externally derived reference price when available.
          example: 752.24
        mark_price:
          type:
          - number
          - 'null'
          description: On-chain mark input.
          example: 752.1
        block_number:
          type: integer
          format: int64
          description: Source block number.
          example: 1038634032
        timestamp:
          type: integer
          format: int64
          description: Source timestamp in Unix milliseconds.
          example: 1781678086894
  responses:
    RateLimited:
      description: Rate limit exceeded
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Requests per second limit
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Remaining requests this second
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when limit resets
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 429
            error: Rate limit exceeded
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 400
            error: 'Failed to deserialize query string: limit: invalid digit found in string'
            error_code: invalid_query_params
            request_id: 3f2a9c71-5b0e-4d68-9a4c-7e1d2b6f8a05
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 401
            error: Missing or invalid API key. Provide X-API-Key header.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for authentication. Get yours at https://0xarchive.io/dashboard
externalDocs:
  description: 0xArchive Developer Docs
  url: https://docs.0xarchive.io/
x-0xarchive-docs-language-overlay:
  name: data-quality-supported-venue-language
  reason: Public OpenAPI language must describe supported venue-family coverage instead of broad exchange coverage.
  updated_at: '2026-05-24'
  remove_when: Public source OpenAPI uses supported venue-family wording for data-quality coverage and latency descriptions.
x-0xarchive-docs-overlay:
  name: hyperliquid-spot
  reason: Hyperliquid Spot routes are included in the local REST contract.
  source: live endpoint behavior and public CLI/MCP/Skill surface truth
  updated_at: '2026-05-08'
  remove_when: Public source contract includes the same Spot route family.
