openapi: 3.2.0
info:
  title: 0xArchive HIP-4 Outcomes - Orders API
  description: REST API for current and historical market data from Hyperliquid and Lighter. Hyperliquid coverage includes core perpetuals, Spot, HIP-3 builder perpetuals, and HIP-4 outcome markets. Coverage and access requirements vary by route. See https://docs.0xarchive.io/ for authentication, limits, and examples.
  version: 1.6.1
  termsOfService: https://0xarchive.io/terms
  contact:
    name: 0xArchive Support
    url: https://0xarchive.io
    email: support@0xarchive.io
  license:
    name: Proprietary
    url: https://0xarchive.io/terms
servers:
- url: https://api.0xarchive.io
  description: Production API
security:
- ApiKeyAuth: []
tags:
- name: HIP-4 Outcomes - Orders
  description: 'Order lifecycle events for HIP-4 outcome markets: placements, cancellations, fills, and TP/SL triggers.'
paths:
  /v1/hyperliquid/hip4/orders/{symbol}/history:
    get:
      tags:
      - HIP-4 Outcomes - Orders
      summary: Get HIP-4 order history
      description: Get order lifecycle events for a HIP-4 outcome side. Includes order placements, modifications, fills, cancellations, and triggers.
      operationId: getHip4OrderHistory
      parameters:
      - name: symbol
        in: path
        required: true
        description: HIP-4 coin id (e.g., `0` for outcome 0 Yes side, `1` for No side). The `#`-prefixed form (`#0`, `#1`) is also accepted.
        schema:
          type: string
          example: '0'
        example: '0'
      - name: start
        in: query
        description: Start timestamp, Unix milliseconds (e.g. 1767225600000)
        schema:
          type: integer
          format: int64
          example: 1767225600000
      - name: end
        in: query
        description: End timestamp, Unix milliseconds (e.g. 1767225600000)
        schema:
          type: integer
          format: int64
          example: 1767225600000
      - name: cursor
        in: query
        description: Cursor for pagination (use the value from previous response's `next_cursor`)
        schema:
          type: string
      - name: limit
        in: query
        description: 'Maximum number of results (default: 1000, max: 10000)'
        schema:
          type: integer
          default: 1000
          maximum: 10000
      - name: status
        in: query
        description: Filter by order status
        schema:
          type: string
          enum:
          - open
          - filled
          - canceled
          - triggered
          - force_canceled
      - name: order_type
        in: query
        description: Filter by order type
        schema:
          type: string
          enum:
          - limit
          - trigger
          - tpsl
      - name: triggered
        in: query
        description: Filter by whether order was triggered
        schema:
          type: boolean
      - name: user
        in: query
        description: Filter by user wallet address
        schema:
          type: string
      responses:
        '200':
          description: Order lifecycle events
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      type: object
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                      next_cursor:
                        type: string
                      request_id:
                        type: string
                        format: uuid
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v1/hyperliquid/hip4/orders/{symbol}/flow:
    get:
      tags:
      - HIP-4 Outcomes - Orders
      summary: Get HIP-4 order flow
      description: Get per-minute order flow aggregation for a HIP-4 outcome side. Shows order placement and cancellation rates over time.
      operationId: getHip4OrderFlow
      parameters:
      - name: symbol
        in: path
        required: true
        description: HIP-4 coin id (e.g., `0` for outcome 0 Yes side, `1` for No side). The `#`-prefixed form (`#0`, `#1`) is also accepted.
        schema:
          type: string
          example: '0'
        example: '0'
      - name: start
        in: query
        description: Start timestamp, Unix milliseconds (e.g. 1767225600000)
        schema:
          type: integer
          format: int64
          example: 1767225600000
      - name: end
        in: query
        description: End timestamp, Unix milliseconds (e.g. 1767225600000)
        schema:
          type: integer
          format: int64
          example: 1767225600000
      - name: cursor
        in: query
        description: Cursor for pagination (use the value from previous response's `next_cursor`)
        schema:
          type: string
      - name: limit
        in: query
        description: 'Maximum number of results (default: 1000, max: 10000)'
        schema:
          type: integer
          default: 1000
          maximum: 10000
      - name: granularity
        in: query
        description: Aggregation granularity
        schema:
          type: string
          enum:
          - 1m
          - 5m
          - 15m
          - 1h
      responses:
        '200':
          description: Order flow aggregation data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      type: object
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                      next_cursor:
                        type: string
                      request_id:
                        type: string
                        format: uuid
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v1/hyperliquid/hip4/orders/{symbol}/tpsl:
    get:
      tags:
      - HIP-4 Outcomes - Orders
      summary: Get HIP-4 TP/SL orders
      description: Get take-profit and stop-loss order events for a HIP-4 outcome side. Shows TP/SL placements, triggers, and cancellations.
      operationId: getHip4Tpsl
      parameters:
      - name: symbol
        in: path
        required: true
        description: HIP-4 coin id (e.g., `0` for outcome 0 Yes side, `1` for No side). The `#`-prefixed form (`#0`, `#1`) is also accepted.
        schema:
          type: string
          example: '0'
        example: '0'
      - name: start
        in: query
        description: Start timestamp, Unix milliseconds (e.g. 1767225600000)
        schema:
          type: integer
          format: int64
          example: 1767225600000
      - name: end
        in: query
        description: End timestamp, Unix milliseconds (e.g. 1767225600000)
        schema:
          type: integer
          format: int64
          example: 1767225600000
      - name: cursor
        in: query
        description: Cursor for pagination (use the value from previous response's `next_cursor`)
        schema:
          type: string
      - name: limit
        in: query
        description: 'Maximum number of results (default: 1000, max: 10000)'
        schema:
          type: integer
          default: 1000
          maximum: 10000
      - name: user
        in: query
        description: Filter by user wallet address
        schema:
          type: string
      responses:
        '200':
          description: TP/SL order events
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      type: object
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                      next_cursor:
                        type: string
                      request_id:
                        type: string
                        format: uuid
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 401
            error: Missing or invalid API key. Provide X-API-Key header.
    RateLimited:
      description: Rate limit exceeded
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Requests per second limit
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Remaining requests this second
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when limit resets
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 429
            error: Rate limit exceeded
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 400
            error: 'Failed to deserialize query string: limit: invalid digit found in string'
            error_code: invalid_query_params
            request_id: 3f2a9c71-5b0e-4d68-9a4c-7e1d2b6f8a05
  schemas:
    Error:
      type: object
      description: Error response
      properties:
        code:
          type: integer
          description: HTTP status code
        error:
          type: string
          description: Error message
        error_code:
          type: string
          description: 'Machine-readable error code. Common values: `invalid_query_params` (a query parameter failed to parse or validate) and `invalid_path_params` (a path parameter failed to parse). Other endpoint-specific codes exist; treat unknown codes as generic errors of the given HTTP status.'
        request_id:
          type: string
          format: uuid
          description: Unique request ID for support
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for authentication. Get yours at https://0xarchive.io/dashboard
externalDocs:
  description: 0xArchive Developer Docs
  url: https://docs.0xarchive.io/
x-0xarchive-docs-language-overlay:
  name: data-quality-supported-venue-language
  reason: Public OpenAPI language must describe supported venue-family coverage instead of broad exchange coverage.
  updated_at: '2026-05-24'
  remove_when: Public source OpenAPI uses supported venue-family wording for data-quality coverage and latency descriptions.
x-0xarchive-docs-overlay:
  name: hyperliquid-spot
  reason: Hyperliquid Spot routes are included in the local REST contract.
  source: live endpoint behavior and public CLI/MCP/Skill surface truth
  updated_at: '2026-05-08'
  remove_when: Public source contract includes the same Spot route family.
