openapi: 3.2.0
info:
  title: 0xArchive HIP-4 Outcomes - Questions API
  description: REST API for current and historical market data from Hyperliquid and Lighter. Hyperliquid coverage includes core perpetuals, Spot, HIP-3 builder perpetuals, and HIP-4 outcome markets. Coverage and access requirements vary by route. See https://docs.0xarchive.io/ for authentication, limits, and examples.
  version: 1.6.1
  termsOfService: https://0xarchive.io/terms
  contact:
    name: 0xArchive Support
    url: https://0xarchive.io
    email: support@0xarchive.io
  license:
    name: Proprietary
    url: https://0xarchive.io/terms
servers:
- url: https://api.0xarchive.io
  description: Production API
security:
- ApiKeyAuth: []
tags:
- name: HIP-4 Outcomes - Questions
paths:
  /v1/hyperliquid/hip4/questions:
    get:
      tags:
      - HIP-4 Outcomes - Questions
      summary: List HIP-4 questions
      description: List HIP-4 question groupings. A question groups one or more binary outcome markets. Use cursor pagination for full crawls.
      operationId: listHip4Questions
      parameters:
      - name: cursor
        in: query
        description: Question ID cursor for pagination.
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        description: 'Maximum number of results (default: 100, max: 1000)'
        schema:
          type: integer
          default: 100
          maximum: 1000
      responses:
        '200':
          description: HIP-4 questions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseHip4QuestionArray'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v1/hyperliquid/hip4/questions/{question_id}:
    get:
      tags:
      - HIP-4 Outcomes - Questions
      summary: Get a single HIP-4 question
      description: Get one HIP-4 question grouping by question ID.
      operationId: getHip4Question
      parameters:
      - name: question_id
        in: path
        required: true
        description: Numeric HIP-4 question ID.
        schema:
          type: integer
          format: int64
          example: 0
        example: 0
      responses:
        '200':
          description: HIP-4 question
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseHip4Question'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 400
            error: 'Failed to deserialize query string: limit: invalid digit found in string'
            error_code: invalid_query_params
            request_id: 3f2a9c71-5b0e-4d68-9a4c-7e1d2b6f8a05
    RateLimited:
      description: Rate limit exceeded
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Requests per second limit
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Remaining requests this second
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when limit resets
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 429
            error: Rate limit exceeded
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 401
            error: Missing or invalid API key. Provide X-API-Key header.
  schemas:
    ApiResponseHip4QuestionArray:
      type: object
      description: API response containing HIP-4 questions.
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/Hip4Question'
        meta:
          $ref: '#/components/schemas/ApiMeta'
    Hip4Question:
      type: object
      description: 'HIP-4 question: multi-choice resolver that groups N binary outcomes under one ballot. One named outcome per choice plus a fallback outcome that wins when no named choice resolves.'
      required:
      - question_id
      - name
      - description
      - fallback_outcome_id
      - named_outcome_ids
      - settled_named_outcomes
      - first_seen_at
      - last_updated_at
      properties:
        question_id:
          type: integer
          format: int64
          description: Question identifier.
          example: 0
        name:
          type: string
          description: Question name as published on-chain (recurring markets use a generic name such as `Recurring`).
          example: Recurring
        description:
          type: string
          description: Pipe-delimited question metadata (class, underlying, expiry, price thresholds, period).
          example: class:priceBucket|underlying:BTC|expiry:20260508-0600|priceThresholds:79303,82540|period:1d
        fallback_outcome_id:
          type: integer
          format: int64
          description: Outcome ID that resolves Yes when no named outcome does.
          example: 6
        named_outcome_ids:
          type: array
          description: Outcome IDs of the named choices grouped under this question.
          items:
            type: integer
            format: int64
          example:
          - 7
          - 8
          - 9
        settled_named_outcomes:
          type: array
          description: Subset of `named_outcome_ids` that have already settled.
          items:
            type: integer
            format: int64
          example: []
        first_seen_at:
          type: string
          format: date-time
          description: When this question was first observed by 0xArchive (UTC).
          example: '2026-05-08T05:57:28.326Z'
        last_updated_at:
          type: string
          format: date-time
          description: When this question row was last updated (UTC).
          example: '2026-05-08T05:57:28.326Z'
      additionalProperties: true
    Error:
      type: object
      description: Error response
      properties:
        code:
          type: integer
          description: HTTP status code
        error:
          type: string
          description: Error message
        error_code:
          type: string
          description: 'Machine-readable error code. Common values: `invalid_query_params` (a query parameter failed to parse or validate) and `invalid_path_params` (a path parameter failed to parse). Other endpoint-specific codes exist; treat unknown codes as generic errors of the given HTTP status.'
        request_id:
          type: string
          format: uuid
          description: Unique request ID for support
    ApiMeta:
      type: object
      description: Response metadata
      properties:
        count:
          type: integer
          description: Number of records returned
        next_cursor:
          type:
          - string
          - 'null'
          description: Cursor for pagination (timestamp). Use this value as the `cursor` parameter to fetch the next page of results.
        request_id:
          type: string
          format: uuid
          description: Unique request ID for support
        coverage_from:
          type: string
          format: date-time
          description: Earliest coverage for the requested symbol and data type. Present only when the requested window ends before coverage begins.
        notice:
          type: string
          description: Human-readable advisory about the response. Currently used when the requested window ends before coverage begins for the symbol; may carry other advisories in future.
    ApiResponseHip4Question:
      type: object
      description: API response containing one HIP-4 question.
      properties:
        success:
          type: boolean
          example: true
        data:
          $ref: '#/components/schemas/Hip4Question'
        meta:
          $ref: '#/components/schemas/ApiMeta'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for authentication. Get yours at https://0xarchive.io/dashboard
externalDocs:
  description: 0xArchive Developer Docs
  url: https://docs.0xarchive.io/
x-0xarchive-docs-language-overlay:
  name: data-quality-supported-venue-language
  reason: Public OpenAPI language must describe supported venue-family coverage instead of broad exchange coverage.
  updated_at: '2026-05-24'
  remove_when: Public source OpenAPI uses supported venue-family wording for data-quality coverage and latency descriptions.
x-0xarchive-docs-overlay:
  name: hyperliquid-spot
  reason: Hyperliquid Spot routes are included in the local REST contract.
  source: live endpoint behavior and public CLI/MCP/Skill surface truth
  updated_at: '2026-05-08'
  remove_when: Public source contract includes the same Spot route family.
